{{ partial "head.html" . }}
  <body>
    <div id="blog">
      {{ partial "header.html" . }}
      {{ partial "sidebar.html" . }}
      <div class="post-header-cover"
           style="background-image:url('{{ .Site.Params.p404.coverimage }}')"
           data-behavior="{{ $.Scratch.Get "sidebarBehavior" }}">
        <div class="post-header main-content-wrap text-center">
          <h1 class="post-title" itemprop="headline">
            {{ .Site.Params.p404.title | markdownify }}
          </h1>
        </div>
      </div>
      <div id="main" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}">
        <article class="post">
          <div class="post-content markdown" itemprop="articleBody">
            <div class="main-content-wrap">
              {{ .Site.Params.p404.content | markdownify }}
            </div>
          </div>
        </article>
        {{ partial "footer.html" . }}
      </div>
    </div>
{{ partial "foot.html" . }}
